.active_itemAll{
	width: 560px;
	align-items: center;
}
.active_item{
	display: flex;
	align-items: center;
	line-height:36px;
	font-size: 20px;
	span{
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.active_logo{
		display: flex;
		width: 28px;
		height: 28px;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		margin-right: 12px;
		font-style: normal;
		box-sizing: border-box;
		text-align: center;
		border-radius: 4px;
	}
}
.show_active{
	display: flex;
	position: relative;
	flex-grow:1;
	.active_item:first-child{
		padding-right:140px;
	}
	.active_item:not(:first-child){
		margin-top: 2.5px;
	}
	.show_more{
		position: absolute;
		right: 0;
		top: 0;
		padding: 3px 20px 7.5px 0;
		height: 100%;
		color: #999;
		text-align: right;
		font-size: 20px;
		line-height: 1;
		span{
			display: inline-block;
			transform: scale(0.85);
		}
		.show_num{
			display: flex;
			align-items: center;
		}
		svg{
			width: .173333rem;
			height: .173333rem;
			opacity: .9;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			fill: currentColor;
			will-change: transform;
			transition: all .3s ease-in-out; 
		}
		.nowSvg{
			transform: rotate(180deg);
		}
	}
	.on {
		&::after{
			transform:rotate(-180deg);
		}
	}
}
