.shoplist_item{
	display: flex;
	position: relative;
	justify-content: space-between;
	background-color: #fff;
	color: #666;
	list-style: none;
	font-size: .20px;
	.shoplist_img{
		padding: 30px 20px;
	}
	.shoplist_logo{
		width:130px;
		height: 130px;
		img{
			max-width: 100%;
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
	}
	.show_new_logo{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 50;
		width: 64px;
		height: 64px;
		background-image: -webkit-linear-gradient(315deg,#26ce61,#26ce61 50%,transparent 0);
		background-image: linear-gradient(135deg,#26ce61,#26ce61 50%,transparent 0);
		font-size: 24px;
		span{
			position: absolute;
			top: 3px;
			left: 0px;
			display: block;
			color: #fff;
			font-weight: 700;
			transform: rotate(-45deg) scale(.8);
		}
	}
}
.shoplist{
	border-bottom: 1PX solid #f5efef;
}
.shoplist_main{
	display: flex;
	width: 580px;
	flex-direction: column;
	padding: 30px 20px 30px 0;
	user-select:none;
	
	.show_line2{
		margin-top: 15px;
	}
	.line{
		width: 100%;
		margin: 15px 0;
		height: 1PX;
		border-bottom: 1PX dotted #f5efef;
	}
	.show_money{
		transform: scale(.9);
		span:nth-of-type(2) {
		    overflow: hidden;
		    max-width: 2.666667rem;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		span:nth-of-type(2)::before{
				content: "|";
				margin:0 3px;
				color: #ddd;
		}

	}
	.show_line{
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		h3{
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			max-width: 375px;
			height: 32px;
			font-size: 30px;
			align-items: center;
			span{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.is_premium{
			&::before{
				content: "\54C1\724C";
				margin-right: 8px;
				padding: 0 5px;
				border-radius: 3px;
				color: #6f3f15;
				background-image: linear-gradient(-139deg,#fff100,#ffe339);
				text-align: center;
				white-space: nowrap;
				font-weight: 700;
				font-size: 20px;
			}
		}
		.show_time{
			transform: scale(.9);
			span:nth-of-type(2)::before{
					content: "|";
					margin:0 3px;
					color: #ddd;
			}
		}
		.show_kd{
			display: flex;
			padding:0 2px;
			border-radius: 4px;
			border: 1px solid #44a5ff;
			background-image: linear-gradient(45deg,#0085ff,#0af);
			span{
				color: #fff;
				font-size: 20px;
				text-align: center;
			}
		}
		.show_rateWrap{
			display: flex;
			align-items: center;
			.show_num{
				transform: scale(.9);
				font-size: 20px;
				margin-left:8px;
			}
			.show_star{
				overflow: hidden;
				    svg{
				    	width: 1.493333rem;
				    	height: .266667rem;
				    	display: inline-block;
				    	vertical-align: middle;
				    }
			}

		}
	}
	.show_supportWrap{
		display: flex;
		li{
			display: block;
			margin-left: 4px;
			font-size: 20px;
			padding: 2px;
			border-radius: 4px;
			color: #999;
			border:1PX solid #ddd;
			text-align: center;
		}
	}
}
.noMore,.loadMore{
	display: flex;
	justify-content: center;
	align-items:center;
	min-height: 1.066667rem;
	background-color: #fff;
	color: #555;
	font-size: .346667rem;
}
@keyframes loadding{
	from{transform:rotate(0)}
	to{transform:rotate(360deg);}
}
.loadMore svg{
	margin-right: 10px;
	animation: loadding .8s linear infinite;
}