::-webkit-scrollbar {/*隐藏滚轮*/
display: none;
}
.box{
	overflow-y: auto;
	height: 100%;
}
.evaluate_title{
	background-color: #fff;
	margin-bottom: .266667rem;
	padding: .4rem;
	font-size: .36rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666;
	border-bottom: 1px solid #eee;
	.evaluate_title_num{
		padding-right: .4rem;
		border-right: 1px solid #ddd;
		text-align: center;
		line-height: 1.5;
	}
	.evaluate_title_source{
		font-size: .64rem;
		line-height: 1;
		font-weight: 400;
		color: #ff6000;
		font-weight: 700;
		display: block;
	}
	.evaluate_title_2{
		font-size: .32rem;
	}
	.evaluate_title_3{
		font-size: .266667rem;
		color: #999;
	}
	.evaluate_score{
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		font-size: .373333rem;
		line-height: 1;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.evaluate_score_0{
		width: 80%;
		margin: .133333rem 0;
		font-size: .32rem;
		.evaluate_star_0{
			padding-left: .266667rem;
			.evaluate_star_1{
				color: #f60;
			}
		}
	}
}
.evaluate_body{
	background-color: #fff;
	padding: .266667rem .32rem 0;
	font-size: .36rem;
	.evaluate_body_li{
		padding: .4rem 0;
		border-bottom: 1PX solid #ddd;
		list-style: none;
		.evaluate_body_li_main_word{
			list-style: none;
			li{
				display: inline-block;
				    font-size: .293333rem;
				    color: #6d7885;
				    border: 1px solid #eee;
				    padding: .106667rem .266667rem;
				    padding: 1.066667vw 2.666667vw;
				    margin: .093333rem;
				    margin: .933333vw;
				    border-radius: .053333rem;
				    border-radius: .533333vw;
				    max-width: 1.6rem;
				    max-width: 16vw;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
			}
		}
		.evaluate_body_li_box{
			position: relative;
			padding-left: 1.2rem;
			.evaluate_body_li_main_pl{
				color: #333;
				font-size: .373333rem;
				margin: .213333rem 0;
				margin: 2.133333vw 0;
			}
			.evaluate_body_li_main_exm{
					list-style: none;
					li{
						display: inline-block;
						margin: .133333rem;
						margin: 1.333333vw;
						img{
							width: 1.893333rem;
							width: 18.933333vw;
							height: 1.893333rem;
							height: 18.933333vw;
						}
					}
				}
			.evaluate_body_li_main{
				font-size: .346667rem;
				
				.evaluate_body_li_main_1{
					display: flex;
					align-items: center;
					h3{
						font-size: .346667rem;
						margin-top: 0;
						color: #333;
						margin-right: .16rem;
						margin-right: 1.6vw;
					}
					small{
						font-size: .293333rem;
						color: #bbb;
					}
				}
			}
			.evaluate_body_li_img{
				position: absolute;
				top: 0;
				left: 0;
				width: .8rem;
				width: 8vw;
				height: .8rem;
				height: 8vw;
				border-radius: 50%;
			}
		}
	}
	.evaluate_body_title{
		padding-bottom: .266667rem;
		border-bottom: 1px solid #ddd;
		ul>li{
			display: inline-block;
			padding: 0 .24rem;
			height: .746667rem;
			line-height: .746667rem;
			margin: .093333rem;
			font-size: .32rem;
			border-radius: .053333rem;
			color: #6d7885;
			background-color: #ebf5ff;
		}
		ul{
			.rating-tags-no{
				color: #aaa;
				background-color: #f5f5f5;
			}
			.rating-tags-on {
			    color: #fff;
			    background-color: #0097ff;
			    &.rating-tags-no{
			    	color: #fff;
			    	background-color: #ccc;
			    }
			}
		}
	}
}
.img_preview-enter {
	opacity: 0.01;
}
.img_preview-enter.img_preview-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
 .img_preview-leave {
	opacity: 1;
}
.img_preview-leave.img_preview-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}