.ballFather{
	position: absolute;
	width: 0.533333rem;
	height: 0.533333rem;
	border-radius: 50%;
	transition: all  0.6s cubic-bezier(0.52, -0.3, 0.93, 0.54);
}
.ballSon{
	width: 0.533333rem;
	height: 0.533333rem;
	background: #3190e8;
	border-radius: 50%;
	transition:all 0.6s linear;
}
@keyframes ani{
	0{transform: scale(0)}
	20%{transform: scale(1.2)}
	40%{transform: scale(.8)}
	80%{transform: scale(1.1)}
	100%{transform: scale(1)}
}
.animation{
	animation: ani .4s linear;
}