.order{
	margin-top: 2.666667rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	img{
		display: block;
		width: 5.333333rem;
		max-width: 100%;
	}
	h3{
		margin: .333333rem 0 .266667rem;
		color: #6a6a6a;
		font-weight: 400;
		font-size: .453333rem;
	}
	button{
		padding: .266667rem;
		min-width: 3.2rem;
		border: none;
		border-radius: .053333rem;
		background-color: #56d176;
		color: #fff;
		text-align: center;
		font-size: 28px;
		font-family: inherit;
	}
}
