.shoppingCart{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	right: .4rem;
	bottom: 3.333333rem;
	border: 1PX solid #999;
	border-radius: 50%;
	width: 1.133333rem;
	height: 1.133333rem;
	background: #fff;
	z-index: 100;
	svg{
		width: .533333rem;
		height: .533333rem;
	}
}
