.banner{position: relative;}
.banner_list{
	height: 354px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	a{
		position: relative;
		float: left;
		margin-top: 22px;
		width: 25%;
	}
	.container{
		display: inline-block;
		position: relative;
		width: 90px;
		height: 90px;
		img{
			width: 100%;
			height: 100%;
			vertical-align: top;
			max-width: 100%;
		}
	}
	.title{
		display: block;
		margin-top: 10px;
		color: #666;
		font-size: 24px;
	}
}
.baner_dd{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	font-size: 0;
	li{
		display: inline-block;
		width: 8PX;
		height: 8PX;
		margin: 0 5px;
		background: #000;
		opacity: .2;
		border-radius: 50%;
		&.is-active{
			background-color: #000;
			opacity: .6;
		}
	}
}